@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
  --font-family: "Raleway", sans-serif;
  --font-footer: "Montserrat", sans-serif;
  --color-texto: rgb(70, 70, 70);
  --color-texto-hover: rgb(0, 0, 0);
  --color-fondo: rgb(245, 245, 245);
  --color-fondo-hover: rgb(221, 221, 221);
  --color-fondo-section: rgb(234, 242, 253);
  --color-white: rgb(255, 255, 255);
  --color-blue: rgb(42, 122, 228);
  --color-blue-hover: rgb(24 100 201);
  --color-label: rgb(162, 162, 162);
  --color-border-input: rgb(200, 200, 200);
  --color-boton-cv: rgb(255, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-texto);
  background-color: var(--color-fondo);
}

/* Menu */
header.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
  }
  
  .menu__logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  
  .menu__list {
    display: flex;
    gap: 3.2rem;
  }
  
  .menu__title{
    color: aliceblue;
  }
  
  .menu__title,
  .skills__name,
  .hobbies__name,
  .menu__list-item:nth-last-child(1) a {
    font-size: 1.6rem;
    font-weight: 700;
  }
  
  .menu__img{
    content: url('#');
  }

/* Footer */
footer.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    /*text-align: center;*/
    width: 100%;
    padding: 3.2rem;
    background-color: #333333;
  }
  
  .footer__text {
    color: aliceblue;
    font-family: var(--font-footer);
  }
  
  .footer__contact{
    padding: 10px;
  }
  
  .footer__link i{
    font-size: 2.8rem;
    padding-left: 10px;
    color: #ffffff;
  }
  
  .footer__link i:hover{
    color: var(--color-blue-hover);
  }
  
  #btnScrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: var(--color-blue);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #btnScrollToTop:hover {
    background-color: #0056b3;
  }