@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
  --font-family: "Raleway", sans-serif;
  --font-footer: "Montserrat", sans-serif;
  --color-texto: rgb(70, 70, 70);
  --color-texto-hover: rgb(0, 0, 0);
  --color-fondo: rgb(245, 245, 245);
  --color-fondo-hover: rgb(221, 221, 221);
  --color-fondo-section: rgb(234, 242, 253);
  --color-white: rgb(255, 255, 255);
  --color-blue: rgb(42, 122, 228);
  --color-blue-hover: rgb(24 100 201);
  --color-label: rgb(162, 162, 162);
  --color-border-input: rgb(200, 200, 200);
  --color-boton-cv: rgb(255, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 62.5%;
}

section.about,
section.academic,
section.contacto {
  background-color: var(--color-fondo-section);
  background-image: url('#');
  background-size: cover;
  background-position: center;
}

img,
svg,
figure {
  display: block;
  max-width: 100%;
}

ol,
ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 5.2rem;
}

h2 {
  font-size: 3.2rem;
}

.skills__title,
.hobbies__title,
.academic__title,
.experience__title {
  margin-bottom: 3.2rem;
  text-align: center;
}

h3,
.title__text--paragraph {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.6rem;
  font-weight: 500;
}

a {
  font-size: 1.6rem;
  color: var(--color-texto);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.5s ease;
}

.menu__listen {
  color: aliceblue;
}

.menu__listen:after{
  content: "";
  display: block;
  margin-left: 0;
  background-color: var(--color-blue-hover);
  height: 3px;
  width: 0;
  transition: 0.3s;
}

.menu__listen:hover:after{
  width: 100%;
}

a:hover {
  color: var(--color-fondo-hover);
}

.skills__icon,
.hobbies__icon {
  color: var(--color-blue);
}

header.menu,
section.title,
section.experience {
  padding: 3.2rem 15.2rem;
}

section.about,
section.contacto {
  padding: 6.4rem 15.2rem;
}

section.skills {
  padding: 3.2rem 15.2rem 8.8rem;
}

section.hobbies {
  padding: 0 15.2rem 8.8rem;
}

section.academic {
  padding: 8.2rem 15.2rem;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-texto);
  background-color: var(--color-fondo);
}

/* Menu */
header.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
  }
  
  .menu__logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  
  .menu__list {
    display: flex;
    gap: 3.2rem;
  }
  
  .menu__title{
    color: aliceblue;
  }
  
  .menu__title,
  .skills__name,
  .hobbies__name,
  .menu__list-item:nth-last-child(1) a {
    font-size: 1.6rem;
    font-weight: 700;
  }
  
  .menu__img{
    content: url('assets/logo\ cazther.png');
    max-width: 80px;
  }

  /* Title */
.title__container {
    display: grid;
    grid-template-columns: auto minmax(auto, 36.8rem);
    grid-template-areas: "description figure";
    align-items: center;
    gap: 1.7rem;
  }
  
  .title__figure {
    grid-area: figure;
  }
  
  .title__description {
    grid-area: description;
  }
  
  .title__text--paragraph {
    margin-top: 2.4rem;
  }
  
  .title__network {
    margin-top: 2.65rem;
    display: flex;
    gap: 3.2rem;
  }
  
  .icon__link i{
    font-size: 3rem;
    padding-left: 10px;
  }
  
  .icon__link i:hover{
    color: var(--color-blue-hover);
  }

/* Footer */
footer.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    /*text-align: center;*/
    width: 100%;
    padding: 3.2rem;
    background-color: #333333;
  }
  
  .footer__text {
    color: aliceblue;
    font-family: var(--font-footer);
  }
  
  .footer__contact{
    padding: 10px;
  }
  
  .footer__link i{
    font-size: 2.8rem;
    padding-left: 10px;
    color: #ffffff;
  }
  
  .footer__link i:hover{
    color: var(--color-blue-hover);
  }
  
  #btnScrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: var(--color-blue);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #btnScrollToTop:hover {
    background-color: #0056b3;
  }